<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>
</head>
<body>
    <input type="file" id="file" name="file"/>
    <button type="button" id="uploadFile" onclick="">登録</button>


<script>
$("#uploadFile").on('click', function(){
    var file = $('#file').prop('files')[0]; // (1)

    var getAjax = function () {
        var uploadFileName = file.name;
        var dfd = new $.Deferred();

        $.ajax({ // (2)
            url: 'http://localhost:8080/readsas?filename=' + uploadFileName,
            type: 'GET'
        }).then(function(data) {
            dfd.resolve(data);
        }).catch(function(jqXHR, textStatus, errorThrown) {
            alert('error');
        });
        return dfd.promise();
    }

    var putAjax = function (getresult) {
        var dfd = new $.Deferred();

        var fileReader = new FileReader();
        var fileContents;
        fileReader.onload = function(e){

	        fileContents = fileReader.result;
        }

        fileReader.readAsText(file);



        alert(getresult.targetUrl);
        $.ajax({ // (4)
            url: getresult.targetUrl,
            type: 'PUT',
            headers: {
                'x-ms-version' : getresult.xmsVersion,
                'x-ms-date' : getresult.xmsDate,
                'x-ms-blob-type' : getresult.xmsBlobType
            },
            data: fileContents

        }).then(function(data, textStatus, jqXHR) {
            alert('ok');           // omitted
        }).catch(function(jqXHR, textStatus, errorThrown) {
            alert('error2'); 
            alert(errorThrown);
        });
        return dfd.promise();
    }

    if (file) {
        getAjax()
        .then(putAjax)
        .catch(function(jqXHR, textStatus, errorThrown, getresult) {
            // omitted
        });
        

    } else {
        // omitted
    }
    return false;
});
</script>

</body>
</html>